<% if current_user %>
  Welcome <%= current_user.email %>
  </br>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
